<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Alder-R - 내가 좋아하는 게임들 소개</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="../bootstrap/assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../bootstrap/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="">My Favorite Games</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://github.com/Alder-R">Github</a></li>
                        <li class="nav-item"><a class="nav-link" href="/license">License</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="../images/technology-3189176_1280.jpg" alt="..." /></div>
                <div class="col-lg-5">
                    <h1 class="font-weight-light">게임들을 소개</h1>
                    <p>제가 좋아하고, 또 재밌게 했던 게임들을 소개합니다. 본 웹페이지는 Java, Spring Boot, HTML, CSS, Thymeleaf 등을 사용 내지 포함하고 있으며, 학교 동아리 활동의 일환으로 제작되었습니다.</p>
                    <a class="btn btn-primary" href="">학교 홈페이지(작동 중지)</a>
                </div>
            </div>
            <!-- Call to Action-->
            <div class="card text-white bg-secondary my-5 py-4 text-center">
                <div class="card-body"><p class="text-white m-0">자바 웹페이지 개발 실습 - Alder-R</p></div>
            </div>
            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Europa Universalis IV<br>　</h2>
                            <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://cdn.akamai.steamstatic.com/steam/apps/236850/header.jpg?t=1713283225" alt="..." /></div>
                            <p class="card-text"><br> 1444년부터 1821년까지의 역사적 배경을 바탕으로 국가를 운영하는 대전략 게임. 다양한 외교 활동과 선택지를 바탕으로 흥미로운 대체 역사를 경험할 수 있다.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://www.paradoxinteractive.com/games/europa-universalis-iv/about">공식 사이트</a>  <a class="btn btn-primary btn-sm" href="https://store.steampowered.com/app/236850/Europa_Universalis_IV/">스팀</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Stardew Valley<br>　</h2>
                            <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://cdn.akamai.steamstatic.com/steam/apps/413150/header.jpg?t=1711128146" alt="..." /></div>
                            <p class="card-text"><br> 1인 개발로 만들어졌다는 점에서 기념비적인 큰 흥행을 거둔 농장 경영 롤플레잉 게임. 농사 외에도 다양한 콘텐츠가 있으며, 활발한 모드 개발이 이루어지고 있다.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://www.stardewvalley.net/">공식 사이트</a>  <a class="btn btn-primary btn-sm" href="https://store.steampowered.com/app/413150/Stardew_Valley/">스팀</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Kingdom Come: Deliverance</h2>
                            <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://cdn.akamai.steamstatic.com/steam/apps/379430/header.jpg?t=1704727571" alt="..." /></div>
                            <p class="card-text"><br> 중세 말 체코를 배경으로 한 1인칭 오픈월드 RPG. 역사적 사건을 바탕으로 한 흥미로운 스토리와 현실적인 시스템으로 깊게 몰입해 즐길 수 있다.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://www.kingdomcomerpg.com/">공식 사이트</a>  <a class="btn btn-primary btn-sm" href="https://store.steampowered.com/app/379430/Kingdom_Come_Deliverance/">스팀</a></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; My Favorite Games 2024</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="../bootstrap/js/scripts.js"></script>
    </body>
</html>
