<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Alder-R - 내가 좋아하는 게임들 소개</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../bootstrap/assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../bootstrap/css/styles.css" rel="stylesheet" />
</head>
<body>
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="..">My Favorite Games</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="..">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="https://github.com/Alder-R">Github</a></li>
                <li class="nav-item"><a class="nav-link" href="">License</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Call to Action-->
<div class="card text-white bg-secondary my-5 py-4 text-center">
    <div class="card-body"><p class="text-white m-0">* Start Bootstrap - Small Business v5.0.6 (https://startbootstrap.com/template/small-business)<br>
        * Copyright 2013-2023 Start Bootstrap<br>
        * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-small-business/blob/master/LICENSE)<br><br>
        * Bootstrap  v5.2.3 (https://getbootstrap.com/)<br>
        * Copyright 2011-2022 The Bootstrap Authors<br>
        * Copyright 2011-2022 Twitter, Inc.<br>
        * Licensed under MIT (https://github.com/twbs/bootstrap/blob/main/LICENSE)<br><br>
        * https://pixabay.com/ko/photos/%EA%B8%B0%EC%88%A0-%EC%BB%A8%ED%8A%B8%EB%A1%A4%EB%9F%AC-%EA%B2%8C%EC%9E%84-3189176/</p>
    </div>
</div>
</body>
</html>